#DOOM {
  color: black;
}

.button-red{
  width: 25px;
  height: 25px;
}

.button-blue{
  width: 25px;
  height: 25px;
}

.button-yellow{
  width: 25px;
  height: 25px;
}

.button-black{
  width: 25px;
  height: 25px;
}

.card-shoes-image{
    object-fit: cover;
}

.choose-size{
  width: 125px;
  height: 35px
}

.btn{
  width: 65px;
  height: 50px;
}

.card-footer{
  width: 100%;
  height: 100%
}

.moreinfo{
  width: 65px;
  height: 50px
}

body{
  background-image: url("http://bgfons.com/uploads/paint/paint_texture2104.jpg");
}
