
.button-red{
  width: 25px;
  height: 25px;
}

.button-blue{
  width: 25px;
  height: 25px;
}

.button-yellow{
  width: 25px;
  height: 25px;
}

.button-black{
  width: 25px;
  height: 25px;
}

.card-shoes-image{
    object-fit: cover;
}

.choose-size{
  width: 125px;
  height: 35px
}

.btn{
  width: 65px;
  height: 50px;
}

.card-footer{
  width: 100%;
  height: 100%
}

.moreinfo{
  width: 65px;
  height: 50px
}

body{
  background-image: url("https://t4.ftcdn.net/jpg/01/37/16/05/500_F_137160592_nLEnTalHErqUIS622qMYjiFZGBbPYU7C.jpg");
}

.jumbotron{
  background-color: grey !important;
}

#sidebar{
  float: right;
}

#img{
  float: left;
}
